extends base.pug

block style 
    style 
      include ../static/style.css

block script
     script 
        include ../static/script.js

block content 
        div#navbarintro
                section#intro
                    section.sectionstyle 
                        h1 Welcome To Shweta's Dance Acadmey 
                        div Eat Sleep Dance  Repeat 
        section#missionsection 
            h2 Our Mission 
            div.cards
                h3  Dance Perfection 
                div.card_box
                    div.card_img
                        img(src="/static/img1.jpg", alt="")
                    div.card_content 
                        p This is the best dance acadmy of the universe
            div.cards
                h3 Dance As You Like 
                div.card_box
                    div.card_img
                        img(src="/static/img2.jpg", alt="")
                    div.card_content 
                        p This is the best dance acadmy of the universe
            div.cards
                h3 Expert Teaching 
                div.card_box
                    div.card_img
                        img(src="/static/img3.jpg", alt="")
                    div.card_content 
                        p This is the best dance acadmy of the universe
               
        section#sponsersection
            h2  Section For Sponsers   
            div#sponsers
                 img(src="/static/amazon.png", alt="amazon",class="spimg")
                 img(src="/static/Dugu.jpg", alt="dugu",class="spimg")
                 img(src="/static/cap.png", alt="apple",class="spimg")
                 img(src="/static/microsoft.png", alt="microsoft",class="spimg")    